# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# TypeScript cache
*.tsbuildinfo

# Mac system files
.DS_Store

# Misc
coverage/
